<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsInitDb" value="1" />
  </appSettings>
  <connectionStrings>
    <add
      name="Starkov"
      connectionString="host=localhost;port=5432;database=Starkov;user id=postgres;password=superpassword!123"/>
  </connectionStrings>
</configuration>